### LOGICAL OPERATORS

In [ ]:
and 
or
not

In [2]:
a=10
b=20

In [3]:
a>b

False

In [4]:
a>b and b>a

False

In [5]:
a<b or b>a

True

In [6]:
hello = True

In [7]:
not(hello)

False

### CONTROL FLOW STATEMENTS

In [9]:
age = int(input("Enter the user age: "))

if age>=18:
    print("User is MAJOR!")

Enter the user age: 22
User is MAJOR!

In [10]:
age = int(input("Enter the user age: "))

if age>=18:
    print("User is MAJOR!")
else: 
    print("user is MINOR")

Enter the user age: 17
user is MINOR

In [14]:
score = int(input("Enter the score of the student: "))

if score >= 90 :
    print("Excellent perfromance studnet grade is A+")
elif score >=80:
    print("Excellent perfromance studnet grade is A")
elif score >=70:
    print("Good perfromance studnet grade is B")
elif score >=60:
    print("Avg perfromance studnet grade is C")
elif score >=50:
    print("Avg perfromance studnet grade is D")
elif score >=40:
    print("Poor perfromance studnet grade is E")

Enter the score of the student: 65
Avg perfromance studnet grade is C

In [15]:
T = int(input("Enter the time: "))

if T<0 :
    print('Invalid')
elif 0<= T <5:
    print('Night')
elif 6<= T <11:
    print('Morning')
elif 12<= T <17:
    print('Afternoon')
elif 18<= T <23:
    print('Evening')
else:
    print('Invalid')

Enter the time: 15
Afternoon

In [10]:
num1 = int(input("Enter the num1= "))
num2 = int(input("Enter the num2= "))
num3 = int(input("Enter the num3= "))


if (num1>num2) and (num1>num3):
    largest = num1
    print("The largest among three is",largest)
elif (num2>num1) and (num2>num3):
    largest = num2
    print("The largest among three is",largest)
else: 
    largest = num3
    print("The largest among three is",largest)

Enter the num1= 25
Enter the num2= 65
Enter the num3= 15
The largest among three is 65

In [15]:
list(range(0,5,2))

[0, 2, 4]

In [13]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [17]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [20]:
for i in 'saiganesh':
    print(tuple(i))

('s',)
('a',)
('i',)
('g',)
('a',)
('n',)
('e',)
('s',)
('h',)

In [21]:
for i in {1,2,3,4,5}:
    print(i)

1
2
3
4
5

In [22]:
dict1 = {"first_name": "sai", "Second_name": "ganesh", 
         'Age':"22","gender": 'Male'}

In [24]:
for keys in dict1:
    print(keys)

first_name
Second_name
Age
gender

In [28]:
for keys in dict1:
    print(keys,dict1[keys])

first_name sai
Second_name ganesh
Age 22
gender Male

In [29]:
dict1.keys()

dict_keys(['first_name', 'Second_name', 'Age', 'gender'])

In [30]:
dict1.values()

dict_values(['sai', 'ganesh', '22', 'Male'])

In [1]:
dict2 = {'x1':1, 'x2':2,'x3':3}

In [2]:
dict2.keys()

dict_keys(['x1', 'x2', 'x3'])

In [4]:
dict2.values()

dict_values([1, 2, 3])

In [6]:
for keys in dict2:
    print(keys,dict2[keys])

x1 1
x2 2
x3 3

In [9]:
for values in dict2:
    print(dict2[values])

1
2
3

In [10]:
dict2['x3']

3

In [1]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
for i in range(41):
    print(i,end=" ")  #end= " " is used to gather things in single line

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

#### NESTED LOOPS (PATTERNS)

In [10]:
for i in range(5):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [20]:
for i in range(1,6):
    for j in range(1,6):
        print(i*j,end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [25]:
count=1


while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [4]:
text = ''
while text != 'quit':
    text= input('Enter a word: ')
    print("You entered",text)

Enter a word: sai ganesh
You entered sai ganesh
Enter a word: immadi
You entered immadi
Enter a word: hyderabad
You entered hyderabad
Enter a word: qquit
You entered qquit
Enter a word: quit
You entered quit

In [5]:
text = ''
while text != 'quit':
    text= input('Enter a word: ').lower()
    print("You entered",text)

Enter a word: sai
You entered sai
Enter a word: ganesh
You entered ganesh
Enter a word: QUIT
You entered quit

In [4]:
age_list= [22,23,24,25]
age = 0

while age not in age_list:
    age= int(input("Guess my age: "))
    print("Invalid guess")
    pass
else:
    print('You made a correct guess!')

Guess my age: 56
Invalid guess
Guess my age: 22
Invalid guess
You made a correct guess!